# Python related Ignore
__pycache__/

# Secrets folder
.scrts/
.secrets/
# git rm --cached .streamlit/secrets.toml
.streamlit/secrets.toml
# git rm --cached .streamlit/snowflake_credentials_forwardkeys.json
.streamlit/snowflake_credentials_forwardkeys.json
# git rm --cached .streamlit/snowflake_credentials.json
.streamlit/snowflake_credentials.json

# Ambiente virtual
.venv/

# Carpeta de pruebas y debug
debug/

# Cache
__pycache__

# Datos
data/

# Keys
rsa_key_1.der
rsa_key_2.der

# Ambiente virtual
.env