/* style.css
   ------------------------------------------------------------
   Este archivo define la apariencia general de la aplicación,
   así como la estructura para fijar el footer en la parte baja.
   ------------------------------------------------------------
*/

/* Estructura general de la página para que el footer se ubique realmente al final */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-container {
  display: flex;
  flex-direction: column; /* Apila contenido en columna */
  min-height: 100vh;      /* Al menos todo el alto de la ventana */
}

/* Contenedor principal para el contenido */
#content-wrap {
  flex: 1;   /* Hace que el contenido crezca y empuje el footer hacia abajo */
}

/* Ocultar el footer por defecto que inyecta Streamlit */
footer {
  visibility: hidden;
}

/* Estilos personalizados para tu footer */
.footer {
  flex-shrink: 0;         /* Evita que el footer se reduzca */
  width: 100%;            /* Toma todo el ancho */
  background-color: #646464;
  padding: 12px 380px;
  color: #808080;
  text-align: left;
}

.footer h5 {
  color: white; 
  font-size: 12px; 
  font-weight: bold;
}

.footer ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.footer li {
  font-size: 12px;
  color: white; 
  line-height: 1.3; 
  padding-left: 0; 
  margin-left: 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
